# ignore ide settings
.idea/
.vscode

# ignore test output
.phpunit.result.cache
**/e2e/artifacts

# ignore dependency folders
vendor
/composer.lock
node_modules
package-lock.json

#ignore bundle output
src/Resources/public/**
!src/Resources/public/.gitkeep
build

#ignore caches
.php_cs.cache