parameters:
    checkMissingIterableValueType: false
    level: 8
    ignoreErrors:
        # Happens a lot for nullable props in DAL entities for associations
        - '#Cannot call method .*\|null\.$#'
        - '#Argument of an invalid type .*\|null supplied for foreach, only iterables are supported\.$#'
