{% block sw_page_smart_bar_content_actions %}
    {% parent() %}
    
    {% block sw_page_smart_bar_content_app_actions %}
        <div class="smart-bar__app_actions" v-if="actions && params && params.length > 0">
            <sw-context-button>
                <template slot="button">
                    <sw-button variant="ghost">
                        <p>{{ $tc('sw-saas-connect.component.sw-connect-action-button.label') }}</p>
                        <sw-icon name="small-arrow-medium-down" size="16"></sw-icon>
                    </sw-button>
                </template>

                <sw-connect-action-button
                    v-for="action in actions"
                    :key="action.id"
                    :params="params"
                    :action="action">
                </sw-connect-action-button>
            </sw-context-button>
        </div>
    {% endblock %}
{% endblock %}