{% block sw_page_smart_bar_content_actions %}
    {% block sw_page_smart_bar_content_app_actions %}
        <div class="smart-bar__app_actions" v-if="areActionsAvailable">
            <sw-context-button>
                <template slot="button">
                    <sw-button>...</sw-button>
                </template>

                <sw-connect-action-button
                    v-for="action in actions"
                    :key="action.id"
                    :action="action"
                    @run-app-action="runAction">
                </sw-connect-action-button>
            </sw-context-button>
        </div>
    {% endblock %}

    {% parent() %}
{% endblock %}
