@import "~scss/variables";

.smart-bar__app_actions {
    margin-right: 8px;

    & >.sw-context-button >.sw-button {
        padding: 11px;

        .sw-icon {
            color: $color-menu-start;
        }
    }
}
