.sw-connect-action-button {
    .sw-connect-action-button__icon {
        width: 16px;
        height: 16px;
        border: none;
    }
    
    .sw-icon {
        margin-left: 4px;
        vertical-align: baseline;
    }

    .sw-icon svg {
        vertical-align: baseline;
    }
}